@model IEnumerable<KenMvcListWithPaging.Models.Log> Logs
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-sm">
    <tr>
        <th>Id</th>
        <th>Data</th>
    </tr>
    @foreach(var log in Model) {
        <tr>
            <td>@log.Id</td>
            <td>@log.Data</td>
        </tr>
     }
</table>